@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
@font-face {
  font-family: 'Marvin Visions';
  src: url('/MarvinVisions-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/MarvinVisions-Bold.woff') format('woff'); /* Pretty Modern Browsers */
}

body {
  /* color: DeepSkyBlue; */
  color: #606060;
  color: #446;
  background-color: #fffffb; 
  background-image: linear-gradient(to top right, #ffffe0, #fff);
}

p, li {
  line-height: 1.6;
  margin: 1em 0;
  /* color: #eee; */
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom: 1px dashed Coral;
  opacity: 0.9;
}

.container {
  display: grid;
  grid-template-columns: 250px 600px;
  grid-template-rows: auto;
  grid-column-gap: 40px;
  grid-row-gap: 15px;
  justify-content: center;
}

header {
  grid-column-start: 1;
  grid-row-start: 1;
}

header a {
  font-weight: bold;
  color: Coral;
  text-transform: uppercase;
  text-shadow: 3px 2px 3px PaleGreen;
  /* letter-spacing: 1px; */
}


main {
  grid-column-start: 2;
  grid-row-start: 1;
} 

footer {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 2;
  font-size: 85%;
  margin-bottom: .5em;
  text-align: right;
}

h1 {
  color: DeepSkyBlue;
  /* color: MediumSpringGreen; */
  font-family: 'Marvin Visions','Source Sans Pro', serif;
  font-size: 3.6em;
  text-shadow: 3px 2px 3px MediumSpringGreen;
  line-height: 1;
  margin-top: 0;
  margin-bottom: .5em;
  padding-top: 0;
  /* letter-spacing: 2px; */
  /* border-bottom: 1px solid MediumSpringGreen; */
}

h1 .bigger {
  font-size: 1.5em;
  color: HotPink;
}

h2 {
  color: HotPink;
  text-transform: uppercase;
  text-align: right;
  text-shadow: 1px 1px 2px PaleGreen;
  /* letter-spacing: 1px; */
}

hr {
  height:1px; 
  border:none; 
  color: #d0d0d0; 
  background-color: #d0d0d0;
  margin: 1.5em 0;
}

iframe {
  margin-bottom: 1.5em;
}

section {
  margin-bottom: 3em;
}

@media only screen and (max-width: 900px) {
  .container {
    grid-template-columns: minmax(auto, 600px);
  }
  main {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  footer {
    grid-column-end: 1;
    grid-row-start: 3;
  }
  
  hr {
    display: none;
  }
  
  ul {
    border-bottom: 1px solid #d0d0d0;
  }
  
  li {
    display: inline-block;
    padding-right: 20px;
  }
  
  li:last-child {
    padding: 0;
  }
  
}

input, select, textarea {
	font-size: inherit;
  box-sizing: border-box;
}

input, textarea {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid DeepSkyBlue;
    border-radius: 3px;
}

input:focus, textarea:focus {
  border-color: HotPink;
  background: rgba(204,204,204,.2);
}

button {
  padding: 8px 12px;
	font-family: inherit;
	font-size: inherit;
  border-radius: 3px;
  background-color: MediumSpringGreen;
  background-image: linear-gradient(to right, MediumSpringGreen, DeepSkyBlue);
  /* color: white; */
  width: 150px;
  color: white;
}

button:disabled {
  background-color: #777;
  color: #AAA;
}

input:focus, textarea:focus {
  background   : rgba(204,204,204,.1);
  border-radius: 3px;
  outline      : #ccc;
}
